#main{text-align: center;}
#square{width: 200px; height: 200px; background: #ccc; position: absolute; margin-top: 50px; margin-left: 50px; }
#scale{width: 200px; height: 200px; background: green; position: absolute; margin-top: 50px; margin-left: 500px; }